<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>correctColor</key>
		<string>0xc01429</string>
		<key>wrongColor</key>
		<string>0xfe0000</string>
	</dict>
	<key>2</key>
	<dict>
		<key>correctColor</key>
		<string>0x7a4079</string>
		<key>wrongColor</key>
		<string>0x7a43b5</string>
	</dict>
	<key>3</key>
	<dict>
		<key>correctColor</key>
		<string>0x80fc30</string>
		<key>wrongColor</key>
		<string>0xaefc33</string>
	</dict>
	<key>4</key>
	<dict>
		<key>correctColor</key>
		<string>0xfffd38</string>
		<key>wrongColor</key>
		<string>0xfffd84</string>
	</dict>
	<key>5</key>
	<dict>
		<key>correctColor</key>
		<string>0x053f3e</string>
		<key>wrongColor</key>
		<string>0x103322</string>
	</dict>
	<key>6</key>
	<dict>
		<key>correctColor</key>
		<string>0xfffdd0</string>
		<key>wrongColor</key>
		<string>0xffffe0</string>
	</dict>
	<key>7</key>
	<dict>
		<key>correctColor</key>
		<string>0xb9b9b9</string>
		<key>wrongColor</key>
		<string>0xd7d8d0</string>
	</dict>
	<key>8</key>
	<dict>
		<key>correctColor</key>
		<string>0xc01429</string>
		<key>wrongColor</key>
		<string>0xd40e1d</string>
	</dict>
	<key>9</key>
	<dict>
		<key>correctColor</key>
		<string>0x116062</string>
		<key>wrongColor</key>
		<string>0x2f4f4f</string>
	</dict>
	<key>10</key>
	<dict>
		<key>correctColor</key>
		<string>0xc7b446</string>
		<key>wrongColor</key>
		<string>0xbdb76b</string>
	</dict>
	<key>11</key>
	<dict>
		<key>correctColor</key>
		<string>0x9acd32</string>
		<key>wrongColor</key>
		<string>0x5da130</string>
	</dict>
	<key>12</key>
	<dict>
		<key>correctColor</key>
		<string>0xCED23A</string>
		<key>wrongColor</key>
		<string>0xFFCF40</string>
	</dict>
	<key>13</key>
	<dict>
		<key>correctColor</key>
		<string>0x35170c</string>
		<key>wrongColor</key>
		<string>0x3b1512</string>
	</dict>
	<key>14</key>
	<dict>
		<key>correctColor</key>
		<string>0xdcd36a</string>
		<key>wrongColor</key>
		<string>0xe1cc4f</string>
	</dict>
	<key>15</key>
	<dict>
		<key>correctColor</key>
		<string>0xa8e4a0</string>
		<key>wrongColor</key>
		<string>0xace1af</string>
	</dict>
	<key>16</key>
	<dict>
		<key>correctColor</key>
		<string>0x57a639</string>
		<key>wrongColor</key>
		<string>0x5da130</string>
	</dict>
	<key>17</key>
	<dict>
		<key>correctColor</key>
		<string>0x232c16</string>
		<key>wrongColor</key>
		<string>0x002800</string>
	</dict>
	<key>18</key>
	<dict>
		<key>correctColor</key>
		<string>0x806a00</string>
		<key>wrongColor</key>
		<string>0x808000</string>
	</dict>
	<key>19</key>
	<dict>
		<key>correctColor</key>
		<string>0x5b646e</string>
		<key>wrongColor</key>
		<string>0x4a545c</string>
	</dict>
	<key>20</key>
	<dict>
		<key>correctColor</key>
		<string>0x252850</string>
		<key>wrongColor</key>
		<string>0x2f3461</string>
	</dict>
	<key>21</key>
	<dict>
		<key>correctColor</key>
		<string>0x28071a</string>
		<key>wrongColor</key>
		<string>0x230d21</string>
	</dict>
	<key>22</key>
	<dict>
		<key>correctColor</key>
		<string>0x9d81ba</string>
		<key>wrongColor</key>
		<string>0x8673a1</string>
	</dict>
</dict>
</plist>
